.degree{
  font-weight: 700;
}

.content{
  background-color: rgb(41, 41, 10);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  box-shadow: 0px 20px 100px 27px rgba(249, 146, 1, 0.9);
  margin-right: auto;
  color: rgb(255, 102, 0);
 
}

.header{
  margin-left: 10px;
  margin-bottom: 35px;
  color: rgb(255, 102, 0);
}